@using CheckboxListFor.Extensions

@model CheckboxListFor.Models.MyModel
@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>

@using (Html.BeginForm())
{
    <div>

        <p>
        @Html.LabelFor(x => x.Name, "Name: ")
	    @Html.TextBoxFor(x => x.Name)
        @Html.ValidationMessageFor(x => x.Name)
        </p>
    
        <p>
        @Html.LabelFor(x => x.SelectedLanguages, "What Languages do you know?")
	    @Html.CheckBoxListFor(x => x.SelectedLanguages, x => x.LanguageOptions, new Dictionary<string, object> { { "@class", "test" } })
	    @Html.ValidationMessageFor(x => x.SelectedLanguages)
        </p>
    
        <p>
        @Html.LabelFor(x => x.SelectedNumbers, "Select your favourite numbers.")
        @Html.CheckBoxListFor(x => x.SelectedNumbers, x => x.NumberOptions, new Dictionary<string, object> { { "@class", "test" } })
	    @Html.ValidationMessageFor(x => x.SelectedNumbers)
        </p>
    
	    <p>
	    <button type='submit'>Submit</button>
	    </p>
    
    </div>
}

